/* this is my universal selector for any animations or effects I add to the page.*/
* {
    transition: all 0.3s ease-in-out;
}

/* pseudo class to enable body flex  display and columns.*/
body {
    display: flex;
    flex-direction: column;
}
/* pseudo class for header enabling flex, and adjustments to header format.*/
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-three);
    padding: 1%;
    
}


/* Adjustments to header text. */
h1 {
    
    font-variant-caps:all-petite-caps;
    font-weight:bolder;
    font-family:'Courier New', Courier, monospace;
    color:var(--color-two);
    font-size: 45px;
}

/* specific adjustments to my name and follows h1 on page.*/
h1::after {
    margin-left: 40px;
    content: 'Albert Hernandez';
    font-style: italic;
    font-family:'Courier New', Courier, monospace;
    font-size: 55px;
    color: var(--color-one);

    
}

/* Having my name diplay only in the header of the page.*/
h2 {
    display: none;
}

/* adjustments to all of nav block in header. */
nav ul{
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

/* Adjustments to anchor tags' apearence */
nav a {
    color:var(--color-two);
    font-weight: bold;
    text-decoration: none;
    
}

/* changes color of the anchor tags when mouse hovers over them. */
nav a:hover{
    color:aqua;
}

/* h3 font, color, and margin within articles. */
article h3{
    font-size: 20px;
    color:var(--color-two);
    margin-top: 1%;
    padding-left: 5%;
    
}

/* adds a border in the same color as my name to divs within articles. */
article div {
    display: flex;
    align-items: center;
    background-color:beige ;
    margin:5px 5px 25px 5px;
    padding: 20px;
    border: solid var(--color-one);
    border-width: 3px;
   
}

/* adjusting paragraph text to match the color of all other text besides name. */
p {
    align-self: center;
    color:var(--color-two);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 2%;
    
    
}

/* image spacing and adjusting with flex. */
.p-image {
    display: flex; 
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content:space-evenly;
    
}
/* border in the same color as h2 name added around each .project class. */
.project {
    
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-one);
    background-color: whitesmoke;
    padding: 10px;
    
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 2%;
}
/* more image control. */
.project img {
    width: 300px;
    height: 350px;
}




/* Making the first work bigger than the rest. */
.project-1 {
    
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-one);
    background-color: whitesmoke;
    padding: 10px;
    margin: 2%;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.project-1 img {
    max-width: 700px;
    

}

.self img{ 
    
    align-self: center; 
    max-width: 300px;
    border-style: dotted;
    border-width: 5px;
    border-color:var(--color-one);;
    padding: 1%;
    margin-left: 1%;
    background-color: whitesmoke;

}

/* I got the idea for effects from Week 2: activity 28. I experimented with a few things, but ended up liking the "push-down" effect from the transform and box-shadow minimizing.*/
.project:hover{
    box-shadow: 1px 1px 1px #aaaaaa;
    transform: scale(0.98);
}
.project-1:hover{
    box-shadow: 1px 1px 1px #aaaaaa;
    transform: scale(0.98);
}

.contacts li{
    font-weight: bolder;
    color:var(--color-two);
    display: inline;
    margin-right: 35px;

}
.contacts li a{
    color:var(--color-two);
}
/* adjust the layout of the page according to window size. */
@media screen and (max-width: 895px){
    header, body, main {
    flex-direction: column;
  }
    
}

