




.title h1 {
    font-variant-caps:all-petite-caps;
    font-weight:bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(213, 189, 126);
    
    background-color:rgb(128, 154, 123);
    
}